* {
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: #FFD90F;
}
h1{
    font-family: "Simpsonfont";
    color: black;
    text-align: center;
 }
 @font-face {
    font-family: "Simpsonfont";
    src: url(fonts/Simpsonfont.otf);
 }
h2{
    font-family: "Simpsonfont";
    color: black;
 }
 @font-face {
    font-family: "Simpsonfont";
    src: url(fonts/Simpsonfont.otf);
 }

.cajaVideo{
    border-radius: 10%;
    border-color: rgb(214, 121, 0) solid;
    padding: 10px;
    text-align: center;
}
.my-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
  }
  .animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }